<html>
	<head>
		<meta charset = "utf-8"/>
		<title> Emprego para deficientes </title>
		<link rel="stylesheet" type="text/css" href="../css/css.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../script/script.js"></script>
	</head>
	<body>
		<header>
			<div id="heEsq">
				<form id="busca">
					<input type="image" src="../imagens/lupa.png" alt="pesquisar" id="imgPesq">
					<input type="text" id="pesquisar" placeholder="Pesquisar..." value="">
				</form>   
			</div>
			<div id="heDir">
				<nav>
					<a href="login.html" class="links"><strong>Entrar</strong></a> ou
					<a href="cadastro.html" class="links"><strong>Cadastrar</strong></a>
				</nav>
			</div>

		<br/> <br/>
		
			<div id="pc">
				<div id="parte2" align="center">
					<table>
						<tr>
							<th id="dir">
								<hr/>
								<a href="" class="links"> OCUPAÇÕES </a>
								<hr/>
							</th>
							<td>
								<div align="center">
									<a href="../index.html"><img src="../imagens/logo.png" alt="logo" width="35%" id=""></a>
								</div>
							</td>
							<th id="esq">
								<hr/>
								<a href="" class="links"> COMENTÁRIOS </a>
								<hr/>
							</th>
						</tr>
					</table>
				</div>
			</div>
			<br/>
		</header>
		
		<div id="login" align="center">
		<div id="teste">
			<br/>
			<h2 id="titulo" align="center"><strong>ENTRAR</strong></h2>
			<div id="bloLog">
				<img src="../imagens/usuario.png" id="pessoa" width="20%"/>
				<div id="dFormLog">
					<form>
						<table>
							<tr>
								<td>
									<label><strong>Email</strong></label>
								</td>
								<td>
									<input type="email" class="form12" id="email" placeholder="E-mail" required/>
								</td>
							</tr>
							<tr>
								<td>
									<label><strong>Senha</strong></label>
								</td>
								<td>
									<input type="password" class="form12" id="senha" placeholder="senha" required/>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="center">
									<button type="submit" id="botLogin" onclick="Enviar1();">Login</button>
								</td>
							</tr>
							<tr>
								<td>
									<label>
										<input type="checkbox" checked="checked" name="lembrar"/> Lembre-me
									</label>
								</td>
								<td align="right">
									<h6><a href="" id="links2">Esqueceu a senha?</a></h6>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<br/>
		</div>
		</div>
		
		<footer>
			<div id="part4">
				<br/>
				<h2 id="titulo" align="center"><strong>CONECTE CONOSCO:</strong></h2>
				<br/>
				<table align="center" id="redes">
					<tr>
						<td align="center">
							<a href=""> <img src="../imagens/facebook.png" width="40%" alt="facebook"/> </a>
						</td>
						<td align="center">
							<a href=""> <img src="../imagens/instagram.png" width="40%" alt="instagram"/> </a>
						</td>
						<td align="center">
							<a href=""> <img src="../imagens/twitter.png" width="40%" alt="twitter"/> </a>
						</td>
					</tr>
				</table>
			</div>
			
			<!--
				As contas de facebook, instagram e twitter não foram criadas ainda, portanto os links não levam à esses lugares.
				-->
				
			<div id="foo2">
				<br/>
				<h6 align="center">© Copyright 2019 - All Rights Reserved</h6>
				<br/>
			</div>
		</footer>
		
	</body>
</html>