<html>
	<head>
		<meta charset = "utf-8"/>
		<title> Emprego para deficientes </title>
		<link rel="stylesheet" type="text/css" href="css/css.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<div id="heEsq">
				<form id="busca">
					<input type="image" src="imagens/lupa.png" alt="pesquisar" id="imgPesq">
					<input type="text" id="pesquisar" placeholder="Pesquisar..." value="">
				</form>   
			</div>
			<div id="heDir">
				<nav>
					<a href="paginas/login.html" class="links"><strong>Entrar</strong></a> ou
					<a href="paginas/cadastro.html" class="links"><strong>Cadastrar</strong></a>
				</nav>
			</div>

		<br/> <br/>
		
			<div id="pc">
				<div id="parte2" align="center">
					<table>
						<tr>
							<th id="dir">
								<hr/>
								<a href="" class="links"> OCUPAÇÕES </a>
								<hr/>
							</th>
							<td>
								<div align="center">
									<a href="index.html"><img src="imagens/logo.png" alt="logo" width="35%" id=""></a>
								</div>
							</td>
							<th id="esq">
								<hr/>
								<a href="" class="links"> COMENTÁRIOS </a>
								<hr/>
							</th>
						</tr>
					</table>
				</div>
			</div>
			<br/>
		</header>
		
		<section>
			<div id="part1">
				<br/> <br/> <br/> <br/>
				<h2 align="center" id="subTit"> SEJA BEM-VINDO</h2>
				<br/> <br/> <br/>
				<div align="center">
					<img src="imagens/barra.png" width="20%" alt="vagas para deficientes"/>
				</div>
				<br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
			</div>
			
			<div id="part2">
				<br/>
				<h2 id="titulo" align="center"><strong>PODEMOS TE AJUDAR?</strong></h2>
				<h6 align="center">Nossa comunidade atende aos seguintes tipos de deficiencia:</h6>
				<br/>
					<table align="center" id="umaPart">
						<tr>
							<td align="center" class="b1">
								<img src="imagens/visual.png" width="10%" alt="deficiencia visual"/>
							</td>
							<td align="center" class="b1">
								<img src="imagens/auditiva.png" width="10%" alt="deficiencia auditiva"/>
							</td>		
							<td align="center" class="b1">
								<img src="imagens/fisica.png" width="10%" alt="deficiencia física"/>
							</td>			
							<td align="center" class="b1">
								<img src="imagens/mente.png" width="10%" alt="deficiencia mental"/>
							</td>
						</tr>
						<tr>
							<td align="center" class="b2">
								<h6>Deficiencia visual</h6>
								<div  class="palavrinhas">
									<p align="left">Nossa comunidade proporciona à todos vocês uma oportunidade de conseguir um emprego. 
									Para vocês que têm deficiencia visual lhes ofertamos com emprego que não necessitam do auxílio da visão,
									desde músicos até advogados com grandes importâncias em meio a sociedade</p>
								</div>
							</td>
							<td align="center" class="b2">
								<h6>Deficiencia auditiva</h6>
								<div  class="palavrinhas">
									<p align="left">Nossa comunidade proporciona à todos vocês uma oportunidade de conseguir um emprego.
									À todos que tem deficiencia auditiva, oferecemos cargos sem a existência do sentido da audição, como
									arquiteto, mecânico, contador, esportista, faxineiro, empregos em geral.</p>
								</div>
							</td>		
							<td align="center" class="b2">
								<h6>Deficiencia física</h6>
								<div  class="palavrinhas">
									<p align="left">Nossa comunidade proporciona à todos vocês uma oportunidade de conseguir um emprego.
									Com destino à todas as pessoas com deficiencia física, ajudmos-lhes a adquirir uma ocupação nos 
									cargos de assistentes administrativos, bibliotecário, jornalista, enfim em todsa as áreas.</p>
								</div>
							</td>			
							<td align="center" class="b2">
								<h6>deficiencia intelectual</h6>
								<div  class="palavrinhas">
									<p align="left">Nossa comunidade proporciona à todos vocês uma oportunidade de conseguir um emprego. 
									Para a integração de pessoas com deficiencia intelectual o mercado, viabilizamos empregos onde,
									essas pessoas tem a possibilidade de exercer, como jardineiro e até médicos.</p>
								</div>
							</td>
						</tr>
					</table>
				<br/>
			</div>
			
			<div id="part3">
				<br/>
				<h2 id="titulo" align="center"><strong>SOBRE O SITE</strong></h2>
				<div id="esp">
					<div id="bloco" align="left">
						<p>Este site foi criado por nós, Lucas Emanuel Dias Santos e Isac Lafaiete da turma 2BII do Instituto Federal de Tecnologia
						Ciência e Educação baiano do campus de Guanambi, com o principal intuito de ajudar pessoas com qualquer deficiencia dando-lhes 
						uma oportudinade de adiquirir um emprego, já que, na nossa sociedade atual, esses indivíduos têm dificuldades em conseguir uma 
						posição onde podem exercem um trabalho digno, pois infelizmente, há uma discriminação contra esses sujeitos, muito por causa de
						que, a população tem em sua mente uma ideia hipócrita, onde as pessoas com deficiencia são menos capacitadas à exercer cargos do que 
						pessoas "normais". Consequentemente, existe uma massa muito grande de pessoas com deficiencia que não conseguem alcançar um 
						emprego, passando necessidades.</p>
						<p>Eles, assim como nós são cidadãos, e têm os mesmos direitos que adiquirimos, assim, devemos olhar para essas pessoas com mais
						carinho e com uma importância maior. Por isso que esse site foi criado, esperando que ele os auxiliem, proporcionando com que
						consigam ter essa oportunidade de ocupar um lugar de trabalho na sociedade.</p>
					</div>
				</div>
				<div align="center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/hsTebLPlI9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<br/>
			</div>
		</section>
		
		<footer>
			<div id="part4">
				<br/>
				<h2 id="titulo" align="center"><strong>CONECTE CONOSCO:</strong></h2>
				<br/>
				<table align="center" id="redes">
					<tr>
						<td align="center">
							<a href=""> <img src="imagens/facebook.png" width="40%" alt="facebook"/> </a>
						</td>
						<td align="center">
							<a href=""> <img src="imagens/instagram.png" width="40%" alt="instagram"/> </a>
						</td>
						<td align="center">
							<a href=""> <img src="imagens/twitter.png" width="40%" alt="twitter"/> </a>
						</td>
					</tr>
				</table>
				<!--
				As contas de facebook, instagram e twitter não foram criadas ainda, portanto os links não levam à esses lugares.
				-->
				
			</div>
			<div id="foo2">
				<br/>
				<h6 align="center">© Copyright 2019 - All Rights Reserved</h6>
				<br/>
			</div>
		</footer>
		
	</body>
</html>